<%= form_with model: article do |form| %>
  <div class="field">
    <div>
        <%= form.label :title %>
    </div>
    <div>
        <%= form.text_field :title, style:"width: 100%"%>
    </div>
    <div>
        <% @article.errors.full_messages_for(:title).each do |message| %>
        <div class="error-message"><%= message %></div>
        <% end %>
    </div>
  </div>

  <div class="field">
    <div>
        <%= form.label :body %>
    </div>
    <div>
        <%= form.text_area :body, style:"width: 100%; height: 200px;" %>
    </div>
    <div>
        <% @article.errors.full_messages_for(:body).each do |message| %>
        <div class="error-message"><%= message %></div>
        <% end %>
    </div>
  </div>

  <div class="field">
    <div>
       <%= form.label :status %>
    </div>
    <div>
        <%= form.select :status, ['public', 'private'], selected: 'public' %>
    </div>
  </div>

  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
