<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<div>
    <%= link_to "Edit", edit_article_path(@article) %>
</div>
<div>
    <%= link_to "Destroy", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
</div>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="labeled-control">
    <div>
        <%= form.label :commenter %>
    </div>
    <div>
        <%= form.text_field :commenter, style:"width: 40%"%>
    </div>
  </div>

  <div class="labeled-control">
    <div>
        <%= form.label :comment %>
    </div>
    <div>
        <%= form.text_area :comment, style:"width: 40%; height: 80px;" %>
    </div>
  </div>
<% end %>