<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<div class="article-footer">
    <div class="details">
        Posted by <%= @article.user.username %> <%= time_ago_in_words(@article.created_at) %> ago
    </div>
    <% if current_user == @article.user %>
    <div class="buttons">
        <%= link_to "Edit", edit_article_path(@article), :class => 'button edit-button' %>

        <%= link_to "Delete", article_path(@article),
                        method: :delete,
                        data: { confirm: "Are you sure?" }, :class => 'button delete-button' %>
    </div>
    <% end %>
</div>

<% if current_user %>
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
<% else %>
    <p>
        <%= link_to "Login to leave your comments", new_user_session_path %>
    </p>
<% end %>

<h3>Comments</h3>
<% if not @article.comments.any? %>
    There are no comments yet
<% else %>
    <%= render @article.comments %>
<% end %>
